<hr class="featurette-divider">

<div class="row featurette divpad">
    <div class="col-md-3">
        <h2 class="featurette-heading">Asteroid NeoWs</h2>
        <h4><span class="text-muted">Near Earth Object Web Service</span></h4>
        <p class="lead">a RESTful web service for near earth Asteroid information</p>
    </div>
    <div id=neowsdiv class="col-md-9 smalldivpad">
        <div class="row">
            <div class="col-3">
                <div class="form-outline">
                    <input name="daterange4" type="text" id="numDays" class="form-control"
                        value="01/01/2020 - 01/07/2020" />
                    <label class="form-label" for="numDays">Date Range</label>
                </div>
            </div>

            <div class="col-1"><button (click)="NEOWS()" id="btnneows" type="button"
                    class="btn btn-primary">NeoWs</button></div>
            <div class="col-2">Name</div>
            <div class="col-3">Url</div>
            <div class="col-2">Hazard</div>
        </div>

        <div id=neowsinfodiv class="col-md-12">
        </div>

    </div>
</div>

<hr class="featurette-divider">