<div class="row featurette divpad">
    <div class="col-md-3">
        <h2 class="featurette-heading">EARTH</h2>
        <h4><span class="text-muted">High-Res Earth</span></h4>
        <p class="lead">look for natural events as they occur.</p>
    </div>
    <div id=eonetdiv class="col-md-8">
        <div class="row">
            <div class="col-3">
                <div class="form-outline">
                    <input name="daterange2" type="text" id="numDays" class="form-control"
                        value="01/01/2018 - 01/15/2021" />
                    <label class="form-label" for="numDays">Date Range</label>
                </div>
            </div>
            <div class="col-2"><button (click)="ResPic()" id="btnres" type="button" class="btn
              btn-primary">Earth Res</button></div>
            <!--
        <div class="col-2">Title</div>
        <div class="col-4">URL</div>
        -->
            <div id="respicdiv" class="col-md-5">
            </div>
        </div>
    </div>