<hr class="featurette-divider">

<div class="row featurette divpad">
  <div class="col-md-5">
    <h2 class="featurette-heading">Another Mars Rover</h2>
    <h4><span class="text-muted">Seize the OPPORTUNITY</span></h4>
    <p class="lead">Photos by Opportunity rover based on Sol ( 24h39m35s )</p>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-2">
        <div class="form-outline">
          <input name="sol2" type="text" id="sol2" class="form-control" value="10" />
          <label class="form-label" for="sol2">Sol</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-outline">
          <input name="sol2date" type="text" id="sol2date" class="form-control" value="" />
          <label class="form-label" for="sol2date">Date / Status</label>
        </div>
      </div>

      <div class="col-3">
        <div class="input-group">
          <span class="input-group-btn">
            <button (click)="Rover2()" id="btnminus2" type="button" class="quantity-left-minus btn
                btn-danger btn-number" data-type="minus" data-field="">
              <label class="form-label" for="btnminus2">-</label>
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </span>
          <input type="text" id="quantity2" name="quantity" class="form-control input-number" value="1" min="1"
            max="100">
          <span class="input-group-btn">
            <button (click)="Rover2()" id="btnplus2" type="button" class="quantity-right-plus btn
                btn-success btn-number" data-type="plus" data-field="">
              <label class="form-label" for="btnplus2">+</label>
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div id=sol2picdiv class="col-md-5 rover" style="width: 500px; height: 500px;">

    </div>
   </div>
</div>
